body{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#inner-frame{
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(5, 5, 126, 0.5);
    border-radius: 15px;
    background-color: rgb(179, 212, 212);
    box-shadow: inset 3px -3px 20px 5px rgba(0, 0, 255, 0.2), 0 0 20px 5px rgba(66, 66, 66, 0.5);
    width: 600px;
    height: 70%;
    gap: 16px;
    padding: 20px;
}

#screen-wrapper{
    display: flex;
    flex:1;
    vertical-align: middle;
    align-items: center;
    vertical-align: middle;

}

#screen{
    border-radius: 15px;
    border: 5px solid rgba(21, 21, 53, 0.5);
    box-shadow: inset -4px 10px 10px 10px rgba(25, 25, 41, 0.2), 0 0 30px 5px rgba(0, 0, 255, 0.2);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    font-size:70px;
    font-weight: bold;
    margin: 0 auto;
    text-align: right;
    align-items: center;
    vertical-align: middle;
    padding-right: 20px;
}

#buttons-wrapper{
    display: flex;
    gap: 8px;
    flex:2;
}

#operator-buttons{
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    flex:1;
}

#numbers-buttons{
    display: flex;
    flex-wrap: wrap;
    flex:3;
    gap: 8px;
    justify-content: center;
}

#operator-buttons{
    display: flex;
    flex-direction: column;
    flex:1;
}

#no0-button,
#no1-button,
#no2-button,
#no3-button,
#no4-button,
#no5-button,
#no6-button,
#no7-button,
#no8-button,
#no9-button,
#c-button,
#d-button{
    border-radius: 15px;
    box-shadow: inset 3px -3px 5px 5px rgba(0, 0, 255, 0.2),0 0 20px 5px rgba(0, 0, 255, 0.2);
    background-color: rgb(203, 203, 212);
    font-size: 24px;
    font-weight: bold;
    width: 140px;
}

#plus-button,
#minus-button,
#multiply-button,
#divide-button,
#equals-button,
#decimal-button{
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    flex:1;
    box-shadow: inset 3px -3px 5px 5px rgba(0, 0, 255, 0.2),0 0 20px rgba(0, 0, 255, 0.2);
    background-color: rgb(203, 203, 212);
}









